{% extends "base.html" %}

{% block title %}Cadastrar Cliente{% endblock %}

{% block conte %}
<main>
    <h1>Cadastrar Cliente</h1>
    <form method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" required>

        <button type="submit">Cadastrar</button>
    </form>
</main>
{% endblock %}
